html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
  width: 100%;
}

body {
  max-height: 100%;
  max-width: 100%;
  overflow: hidden;
}

#root {
  height: 100%;
  width: 100%;
}
